*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
reports/pharmacy_first_report.html
/released_output/*
reports/pharmacy_first_report.pdf
reports/pharmacy_first_report_files/*